<!-- search bar -->

<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <form action="/restaurants/search">
        <h4 class="mb-2">尋找餐廳：</h4>
        <div class="input-group">
          <input type="text" name="keywords" class="form-control" placeholder="輸入餐廳、分類" aria-label="Restaurant Name..."
            value="{{record}}" aria-describedby="search-button">
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


<div class="container mt-3">
  {{#if restaurantList}}
  {{!-- filter --}}
  <form action="/filter?_method=PUT" class="col-md-10 col-12 mx-auto d-flex justify-content-end form-inline mb-2"
    method="POST" id="filter">
    <div class="row">
      <label class="my-1 mr-2" for="sort">篩選條件</label>
      <select class="custom-select my-1 mr-sm-2" name="sort" id="sort" onchange="filter.submit()">
        <option value="default" {{{equal sort 'default' }}}>Default</option>
        <option value="name-asc" {{{equal sort 'name-asc' }}}> 名稱 A -> Z </option>
        <option value="name-desc" {{{equal sort "name-desc" }}}> 名稱 Z -> A </option>
        <option value="rating-asc" {{{equal sort "rating-asc" }}}> 評分 A -> Z </option>
        <option value="rating-desc" {{{equal sort "rating-desc" }}}> 評分 Z -> A </option>
        <option value="category" {{{equal sort "category" }}}> 類別 </option>
        <option value="location" {{{equal sort "location" }}}> 地區 </option>
      </select>
    </div>
  </form>
  {{!-- restaurant list --}}
  <div class="d-flex row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="card-columns">
        {{#each restaurantList}}
        <a href="/restaurants/{{ this._id }}" class="text-secondary">
          <div class="card mb-3">
            <img class="card-img-top" src="{{ this.image }}" alt="{{ this.name }}">
            <div class="card-body p-3">
              <h6 class="card-title mb-1">{{ this.name }}</h6>
              <div class="restaurant-category mb-1">
                <i class="fas fa-utensils pr-2"></i>
                {{ this.category }}
              </div>
              <span class="badge badge-pill badge-danger font-weight-normal">
                {{ this.rating }}
                <i class="fas fa-star fa-xs"></i>
                <div class="d-flex justify-content-end">
                  <a href="/restaurants/{{ this._id }}/edit" class="mx-2"><i class="fas fa-edit"></i></a>
                  <a href="/restaurants/{{ this._id }}" class="mx-2"><i class="fas fa-info"></i></a>
                  <form action="/restaurants/{{ this._id }}?_method=DELETE" method="POST" style="display: inline">
                    <button type="submit" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></button>
                  </form>
                </div>
              </span>
            </div>
          </div>

        </a>


        {{/each}}
      </div>
    </div>
  </div>
  {{else}}
  <div class="d-flex justify-content-center">
    <div class="column">
      <h3>搜尋的餐廳不存在</h3>
      <a href="/" class="d-flex justify-content-center pt-3">
        <button class="btn btn-major">回到首頁</button>
      </a>
    </div>
  </div>
  {{/if}}

</div>